.components-title {
  font-size: 28px;
  font-weight: bold;
  margin: 160px 0 80px 0;
  color: #000;
  padding-left: 20px;
  position: relative;

  &:before {
    content: '';
    width: 6px;
    height: 100%;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
  }
}
/* components-wrap */
.day-weather-cell-wrap {
  max-width: 50%;
}
.weekly-forecast-item-wrap {
  width: 50%;
}
.weekly-forecast-wrap {
}

/* weather-time-cell */
.day-weather-cell {
  text-align: center;
  width: 100%;
  p {
    font-size: 24px;
    /* sm */
    font-weight: bold;
    margin-bottom: 24px;
  }
  img {
    margin: 0 auto;
    min-width: 72px;
    aspect-ratio: 1/1;
    /* - */
    background: #f5f7fa;
    border-radius: 24px;
  }
}

/* weekly-forecast-item */
.weekly-forecast-item {
  width: 100%;
  padding: 32px 24px;
  color: #000;
  text-align: center;

  .forecast-label {
    font-size: 40px;
    font-weight: bold;
    /* lg */
    margin-bottom: 8px;
  }
  .forecast-date {
    font-size: 28px;
    /* md */
    opacity: 50%;
  }
  .day-weather {
    margin: 32px 0;
    display: flex;
    gap: 32px;
  }

  .minmax-temp {
    display: inline-block;
    padding: 18px 22px;
    font-size: 28px;
    /* md */
    font-weight: 700;
    background: #f5f7fa;
    border-radius: 24px;
    .min-temp {
    }
    .max-temp {
    }
  }
}

/* weekly-forecast */
.sub-title {
  font-size: 40px;
  /* lg */
  font-weight: bold;
  margin-bottom: 40px;
  color: #000;
}
.weekly-forecast {
  border-radius: 64px;
  background: #fff;
  box-shadow: 0px 0px 80px 0px rgba(0, 15, 77, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 32px;
  gap: 32px;
  overflow-x: scroll;
}
