.components-title {
  font-size: var(--font-md);
  font-weight: bold;
  margin: var(--space-7xl) 0 var(--space-4xl) 0;
  color: #000;
  padding-left: var(--space-md);
  position: relative;

  &:before {
    content: "";
    width: 6px;
    height: 100%;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
  }
}
/* components-wrap */
.day-weather-cell-wrap {
  max-width: 50%;
}
.weekly-forecast-item-wrap {
  width: 50%;
}
.weekly-forecast-wrap {
}

/* weather-time-cell */
.day-weather-cell {
  text-align: center;
  width: 100%;
  p {
    font-size: var(--font-sm);
    /* sm */
    font-weight: bold;
    margin-bottom: var(--space-ml);
  }
  img {
    margin: 0 auto;
    min-width: 72px;
    aspect-ratio: 1/1;
  }
}

/* weekly-forecast-item */
.weekly-forecast-item {
  width: 100%;
  padding: var(--space-lg) var(--space-ml);
  text-align: center;

  .forecast-label {
    font-size: var(--font-lg);
    font-weight: bold;
    /* lg */
    margin-bottom: var(--space-s);
  }
  .forecast-date {
    font-size: var(--font-md);
    /* md */
    opacity: 50%;
  }
  .day-weather {
    margin: var(--space-lg) 0;
    display: flex;
    gap: var(--space-lg);
  }

  .minmax-temp {
    display: inline-block;
    padding: var(--space-ms) var(--space-md);
    font-size: var(--font-md);
    /* md */
    font-weight: 700;
    background: var(--card-element-bg-color);
    border-radius: var(--radius-md);
    .min-temp {
    }
    .max-temp {
    }
  }
}

/* weekly-forecast */
.sub-title {
  font-size: var(--font-lg);
  /* lg */
  font-weight: bold;
  margin-bottom: var(--space-xl);
  color: var(--text-color);

  @media screen and (width <= 640px) {
    text-align: center;
  }
}
.weekly-forecast {
  border-radius: var(--radius-xl);
  background: var(--card-bg-color);
  box-shadow: 0px 0px 80px 0px rgba(0, 15, 77, 0.1);
  display: flex;
  justify-content: space-between;
  padding: var(--space-lg);
  gap: var(--space-lg);
  overflow-x: scroll;
  & {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
  }
  & ::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
