<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/src/styles/main.css" />
    <link rel="stylesheet" href="/src/common/_base.css" />
    <link rel="stylesheet" href="/src/common/_normalize.css" />
    <link rel="stylesheet" href="/src/common/_theme.css" />
    <link
      rel="stylesheet"
      href="/src/components/weeklyforecast/weeklyforecast.css"
    />
  </head>
  <body style="padding: 80px">
    <!-- weather-time-cell -->
    <div class="day-weather-cell-wrap">
      <p class="components-title">weather-time-cell</p>
      <div class="day-weather-cell">
        <p>오전</p>
        <img src="" alt="현재 날씨" />
      </div>
    </div>
    <!-- /weather-time-cell -->

    <!-- /weekly-forecast-item -->
    <div class="weekly-forecast-item-wrap">
      <p class="components-title">weekly-forecast-item</p>
      <div class="weekly-forecast-item">
        <p class="forecast-label">O요일</p>
        <p class="forecast-date">00.00</p>
        <div class="day-weather">
          <div class="day-weather-cell">
            <p>오전</p>
            <img src="" alt="현재 날씨" />
          </div>
          <div class="day-weather-cell">
            <p>오후</p>
            <img src="" alt="현재 날씨" />
          </div>
        </div>
        <div class="minmax-temp">
          <span class="min-temp">00°</span>/<span class="max-temp">00°</span>
        </div>
      </div>
    </div>
    <!-- weekly-forecast-item -->

    <!-- weekly-forecast -->
    <div class="weekly-forecast-wrap">
      <p class="components-title">weekly-forecast</p>
      <div class="sub-title">🗓️ 주간예보</div>
      <div class="weekly-forecast">
        <div class="weekly-forecast-item">
          <p class="forecast-label">내일</p>
          <p class="forecast-date">00.00</p>
          <div class="day-weather">
            <div class="day-weather-cell">
              <p>오전</p>
              <img src="" alt="현재 날씨" />
            </div>
            <div class="day-weather-cell">
              <p>오후</p>
              <img src="" alt="현재 날씨" />
            </div>
          </div>
          <div class="minmax-temp">
            <span class="min-temp">00°</span>/<span class="max-temp">00°</span>
          </div>
        </div>
        <div class="weekly-forecast-item">
          <p class="forecast-label">O요일</p>
          <p class="forecast-date">00.00</p>
          <div class="day-weather">
            <div class="day-weather-cell">
              <p>오전</p>
              <img src="" alt="현재 날씨" />
            </div>
            <div class="day-weather-cell">
              <p>오후</p>
              <img src="" alt="현재 날씨" />
            </div>
          </div>
          <div class="minmax-temp">
            <span class="min-temp">00°</span>/<span class="max-temp">00°</span>
          </div>
        </div>
        <div class="weekly-forecast-item">
          <p class="forecast-label">O요일</p>
          <p class="forecast-date">00.00</p>
          <div class="day-weather">
            <div class="day-weather-cell">
              <p>오전</p>
              <img src="" alt="현재 날씨" />
            </div>
            <div class="day-weather-cell">
              <p>오후</p>
              <img src="" alt="현재 날씨" />
            </div>
          </div>
          <div class="minmax-temp">
            <span class="min-temp">00°</span>/<span class="max-temp">00°</span>
          </div>
        </div>
        <div class="weekly-forecast-item">
          <p class="forecast-label">O요일</p>
          <p class="forecast-date">00.00</p>
          <div class="day-weather">
            <div class="day-weather-cell">
              <p>오전</p>
              <img src="" alt="현재 날씨" />
            </div>
            <div class="day-weather-cell">
              <p>오후</p>
              <img src="" alt="현재 날씨" />
            </div>
          </div>
          <div class="minmax-temp">
            <span class="min-temp">00°</span>/<span class="max-temp">00°</span>
          </div>
        </div>
        <div class="weekly-forecast-item">
          <p class="forecast-label">O요일</p>
          <p class="forecast-date">00.00</p>
          <div class="day-weather">
            <div class="day-weather-cell">
              <p>오전</p>
              <img src="" alt="현재 날씨" />
            </div>
            <div class="day-weather-cell">
              <p>오후</p>
              <img src="" alt="현재 날씨" />
            </div>
          </div>
          <div class="minmax-temp">
            <span class="min-temp">00°</span>/<span class="max-temp">00°</span>
          </div>
        </div>
      </div>
    </div>
    <!-- /weekly-forecast -->
  </body>
</html>
