/* main index css파일 */
@import "/src/components/currentWeather/currentWeather.css";
@import "/src/components/weeklyforecast/weeklyforecast.css";
@import "/src/components/playlist/playlist.css";
@import "/src/components/placeRecommand/woohyeun.css";
@import "/src/components/footer/footer.css";
@import "/src/components/modal/modal.css";
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-bg-color);
}

.web-header,
section {
  padding-inline: 3.875rem;

  @media screen and (width <= 40rem) {
    padding-inline: 2.5rem;
  }
}

section {
  position: relative;
}

.web-main {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--space-7xl);
}
