[type="search"] {
  appearance: textfield;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button {
  display: none;
}

.web-header {
  padding-inline: 3.875rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  justify-content: center;
  margin-block-end: 5rem;
}

.web-title {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1;
}

.current-time {
  font-weight: 600;
  font-size: 2.5rem;
  color: #00000080;
  line-height: 1;
}

.current-weather-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--black);
  padding-inline: 3.875rem;
}

.weather-container {
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  padding: 3.875rem;
  gap: 4.375rem;
}

.weather-left {
  flex: 1;
  max-width: 80%;
}

.weather-search-form {
  inline-size: 100%;
  block-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.search-wrapper {
  flex: 1;
  block-size: 100%;
  position: relative;

  .search-input:not(:placeholder-shown) + .search-label {
    display: block;
    top: 0;
    background-color: var(--black);
    color: var(--white);
  }

  .search-input:not(:placeholder-shown)::placeholder {
    color: transparent;
  }
}

.search-wrapper:focus-within {
  .search-label {
    display: block;
    top: 0;
    background-color: var(--black);
    color: var(--white);
  }

  .search-input::placeholder {
    color: transparent;
  }

  .search-input {
    border-color: var(--black);
  }

  .search-lists {
    border-color: var(--black);
  }
}

.search-input {
  inline-size: 100%;
  block-size: 100%;
  padding: 0.625rem 0.625rem 0.625rem 2rem;
  border: 1px solid #0000001a;
  border-radius: 1.5rem;
  background-color: #f5f7fa;
  font-size: 1.75rem;
  font-weight: 400;
  outline: 0;

  &.remove-border {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &::placeholder {
    color: var(--black);
    opacity: 0.5;
    font-size: 1.75rem;
    font-weight: 400;
  }
}

.search-label {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(0%, -50%);
  color: transparent;
  background-color: transparent;
  font-size: 1.25rem;
  font-weight: 800;
  transition: top 300ms ease;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.input-reset-button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #00000080;
  border: 0;
  border-radius: 50%;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%) rotateZ(45deg);
  cursor: pointer;
  z-index: 5;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inline-size: 1.25rem;
    block-size: 0.125rem;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 3px solid #f9004d;
  }

  &:disabled {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.search-lists {
  background-color: #f5f7fa;
  font-size: 1.75rem;
  border: 1px solid #0000001a;
  border-top: 0;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  color: var(--black);
  cursor: pointer;

  li {
    padding: 1.4375rem 2rem;

    &:hover,
    &:focus-within {
      background-color: #e2e4e7;
    }

    &:last-child {
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }

    button {
      text-align: start;
      padding: 0;
      border: 0;
      inline-size: 100%;
      block-size: auto;
      padding-block: 0.3125rem;
      outline: 0;
    }
  }
}

.search-button {
  padding: 1.125rem 1.25rem;
  block-size: 100%;
  border-radius: 1.5rem;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 700;
  background-color: var(--black);

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 3px solid #f9004d;
  }
}

.weather-info {
  margin-block-start: 3.875rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.weather-summary {
  display: flex;
  flex-flow: column nowrap;

  .weather-location {
    font-size: 3.5rem;
    font-weight: 400;

    .data-time {
      font-size: 1.5625rem;
    }
  }

  .weather-temp {
    font-size: 7.5rem;
    font-weight: 600;
  }

  .weather-detail {
    span {
      font-size: 2.5rem;
    }

    span:first-child {
      font-weight: 700;
    }

    .weather-temp {
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      gap: 1.5625rem;

      span {
        font-weight: 400;
      }
    }
  }

  .weather-detail-sub {
    margin-top: 7.75rem;

    span {
      display: inline-block;
      background-color: #f5f7fa;
      padding: 1rem 18px;
      font-size: 1.75rem;
      font-weight: 400;
      border-radius: 1.5rem;
    }

    span:nth-child(2) {
      margin-inline: 0.75rem;
    }
  }
}

.weather-icon {
  inline-size: 31.25rem;
  block-size: 31.25rem;

  & img {
    inline-size: 100%;
    block-size: 100%;
  }
}

.weather-hourly {
  inline-size: auto;
  max-inline-size: 16.25rem;
}

.hourly-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.75rem;
  letter-spacing: 0;

  .hourly-icon {
    display: inline-block;
    inline-size: 2.875rem;
    block-size: 2.875rem;
  }

  .hourly-temp {
    font-weight: 700;
  }
  &:first-child {
    padding-block-end: 1.25rem;
  }

  &:not(:first-child) {
    padding-block: 1.25rem;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #0000001a;
  }
}
