.playlist {
  display: flex;
  flex-flow: column;
  gap: var(--space-xl);
  width: 100%;
  height: auto;
  overflow: hidden;

  .playlist__describe {
    font-family: Pretendard;
    font-size: var(--font-lg);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .playlist__inner {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--space-lg);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    .playlist__track-container {
      display: flex;
      flex-flow: column;
      align-items: start;
      justify-content: center;
      height: auto;
      gap: var(--space-ms);
    }
    .playlist__cover {
      width: 300px;
      aspect-ratio: 1;
      border-radius: var(--radius-full);
      border: 8px solid var(--bg-color);

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .playlist__title {
      font-size: var(--font-md);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .playlist__singer {
      font-size: var(--font-md);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.5;
    }
  }
}

@media (max-width: 640px) {
  .playlist {
    .playlist__describe {
      text-align: center;
    }

    .playlist__inner {
      .playlist__track-container {
      }
      .playlist__cover {
        width: 150px;
        border: 4px solid var(--bg-color);
      }
      .playlist__title {
      }
      .playlist__singer {
      }
    }
  }
}
