:root {
  --cover-border-color: #f5f7fa;
}

body {
  background-color: var(--blue-100);
}

.playlist {
  display: flex;
  flex-flow: column;
  gap: 40px;
  width: 100%;
  height: auto;
  overflow: hidden;

  .playlist__describe {
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .playlist__inner {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    .playlist__track-container {
      display: flex;
      flex-flow: column;
      align-items: start;
      justify-content: center;
      height: auto;
    }
    .playlist__cover {
      width: 300px;
      aspect-ratio: 1;
      border-radius: 999px;
      border: 8px solid var(--cover-border-color);

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .playlist__title {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .playlist__singer {
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.5;
    }
  }
}

@media (max-width: 640px) {
  .playlist {
    display: flex;
    flex-flow: column;
    gap: 40px;

    .playlist__describe {
      font-family: Pretendard;
      font-size: 25px;
      text-align: center;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .playlist__inner {
      display: flex;
      flex-flow: row nowrap;
      gap: 16px;

      .playlist__track-container {
        display: flex;
        flex-flow: column;
        align-items: start;
        justify-content: center;
        gap: 0.625rem;
      }
      .playlist__cover {
        width: 150px;
        aspect-ratio: 1;
        border-radius: 999px;
        border: 4px solid var(--cover-border-color);

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .playlist__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .playlist__singer {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.5;
      }
    }
  }
}
