<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/components/playlist/playlist.css" />
    <script type="module" src="/src/components/playlist/playlist.js"></script>
    <title>playlist section</title>
  </head>
  <body>
    <section class="playlist">
      <div class="playlist__describe">🎧 흐린 날씨에 이런 노래 어떠세요?</div>
      <div class="playlist__inner">
        <!-- js로 동적 생성 -->
      </div>
    </section>
  </body>
</html>
