.playlist {
  display: flex;
  flex-flow: column;
  gap: var(--space-2xl);
  width: 100%;
  height: auto;
  overflow: hidden;

  position: relative;

  a {
    color: inherit;
    text-decoration: none;
  }

  .playlist__describe {
    font-family: Pretendard;
    font-size: var(--font-lg);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .playlist__inner {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--space-lg);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;

    .playlist__track-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: auto;
      gap: var(--space-ms);
    }
    .playlist__cover {
      width: 300px;
      aspect-ratio: 1;
      border-radius: var(--radius-full);
      border: 8px solid var(--bg-color);

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      margin-bottom: var(--space-lg);
    }
    .playlist__title {
      font-size: var(--font-md);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      min-height: 80px;
      text-align: center;
    }
    .playlist__singer {
      font-size: var(--font-md);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.5;
      min-height: 80px;
      text-align: center;
    }
  }

  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-4xl);
    height: var(--space-4xl);
    border-radius: var(--radius-full);
  }
}

@media (max-width: 640px) {
  .playlist {
    .playlist__describe {
      text-align: center;
    }

    .playlist__inner {
      .playlist__track-container {
      }
      .playlist__cover {
        width: 150px;
        border: 4px solid var(--bg-color);
      }
      .playlist__title {
      }
      .playlist__singer {
      }
    }
  }
}
